<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<style>
body {
    background-image: url("http://localhost:3000/image.jpg");
    opacity: 0.7;
    filter: alpha(opacity=70);
    background-color: white;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    font-family: "Arial", Times, serif;
    background-size: 100%;
    }
    #comments {
    background-color: white;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}
h2 {
    background-color: white;
    padding-left: 30px;
    }
</style>
<body>
<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %></p>
<%= yield %>

</body>
</html>
